@inject IAgentService AgentService

@{
    bool isCurrentLoggedInUserAgent = await AgentService.IsAgentAsync(User.Id());
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="House" asp-action="All">All Houses</a>
    </li>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="House" asp-action="Mine">My Houses</a>
        </li>
        @if (isCurrentLoggedInUserAgent)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="House" asp-action="Add">Add Houses</a>
            </li>
        }
    }
</ul>